/*App 默认颜色*/
defaultColor = #ff6900
white = #fff
grey = #eee

//header
headerBg = defaultColor
headerDefaultColor = rgb(73,73,73)

bgWhite = white
bgRed = defaultColor
bgGrey = grey


fontWhite = white
//tabbar
tabbarActiveColor = defaultColor


